h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  padding-top: 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.nav-link,
.address .link {
  display: inline-block;
  padding: 24px 0;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  position: relative;
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;
}

.address {
  font-style: normal;
  line-height: 1.5;
  margin-left: auto;
}

.address .link {
  color: #434455;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  min-width: 196px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 48px;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.features-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.team {
  background-color: #f4f4fd;
}

.team-content {
  padding: 32px 16px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 72px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #2e2f42;
  margin-right: 76px;
}

.logo-accent {
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
}

.header .logo,
.nav-link,
.address .link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 188px;
  padding-bottom: 188px;
}

.features-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.team .icon {
  fill: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
}

.logo-footer {
  color: #f4f4fd;
  padding: 0;
  margin: 0;
}

.footer-social-links {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-container {
  display: flex;
  gap: 120px;
  align-items: baseline;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: left;
}

.features-icon-wrapper {
  width: 264px;
  height: 112px;

  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.footer .social-link {
  background-color: #4d5ae5;
  color: #f4f4fd;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}

.footer .icon {
  fill: #f4f4fd;
}
